html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-size: 100%;
  background-position: bottom;
  background-color: #574b90;
  min-height: 100%;
  color: white;
}

.nav-wrapper {
  background-color: #9e579d;
}

.btn {
  background-color: #fc85ae;
}

.form-in {
  background-color: #4e4382;
}

.card {
  background-color: #4e4382;
  color: white;
}

form {
  padding: 20px;
  margin-top: 60px;
  border-radius: 20px;
}

form button,
form h5 {
  margin: 20px 0;
}

input,
select,
textarea {
  color: #fff;
}